*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-heading: #192a51;
  --color-font: #5b6781;
  --font-heading: "Cormorant", serif;
  --font-para: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 37.6875em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 29.44em) {
  html {
    font-size: 40%;
  }
}

body {
  background-color: #fdf6f0;
  font-size: 2rem;
  font-family: var(--font-para);
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  color: var(--color-font);
}

/* header {
  height: 95vh;
} */

/*Navbar*/
.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 1.75rem 0;
  align-items: center;
  margin-bottom: 7rem;
}

.logo {
  margin-right: auto;
}

@media only screen and (max-width: 37.6875em) {
  .logo {
    width: 110px;
  }
}

.navbar__nav {
  display: flex;
  list-style: none;
  align-items: center;
}

@media only screen and (max-width: 37.6875em) {
  .navbar__nav {
    display: none;
  }
}

.navbar__item {
  padding: 2rem;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: currentColor;
  transform-origin: middle;
  transition: all 0.2s;
}

.navbar__link:link,
.navbar__link:visited {
  text-decoration: none;
  font-size: 1.7rem;

  color: var(--color-font);
  font-weight: 400;
  position: relative;
  padding-bottom: 0.5rem;
}

.navbar__link:link:hover::after {
  width: 100%;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 20vh;
}

/*ulities*/
.m-bottom-small {
  margin-bottom: 1rem;
}

.m-bottom-medium {
  margin-bottom: 2rem;
}

.m-bottom-large {
  margin-bottom: 3rem;
}

/*para*/
.heading-h1,
.heading-h2,
.heading-h3 {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 300;
}

.heading-h1 {
  font-size: 10rem;
  width: 65%;
  margin-bottom: 3rem;
  line-height: 1.2;
}

@media only screen and (max-width: 62.1875em) {
  .heading-h1 {
    font-size: 7rem;
    width: 65vw;
  }
}

.heading-h2 {
  font-size: 6rem;
}

.heading-h3 {
  font-size: 4rem;
  font-weight: 500;
}

@media only screen and (max-width: 37.6875em) {
  .heading-h1 {
    font-size: 5.5rem;
  }
  .heading-h2 {
    font-size: 4rem;
  }
  .heading-h3 {
    font-size: 4rem;
  }
}

.header__para {
  width: 60%;
  font-size: 2.4rem;
  padding-right: 0;
}

@media only screen and (max-width: 62.1875em) {
  .header__para {
    width: 75vw;
  }
}

@media only screen and (max-width: 47.8125em) {
  .header__para {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.6875em) {
  .header__para {
    font-size: 2.3rem;
  }
}

.header__para b {
  font-weight: 400;
  cursor: pointer;
  color: var(--color-heading);
}

/*List*/
.list {
  margin-top: 15rem;
  margin-bottom: 20rem;
}

.list__item {
  display: flex;
  padding: 0 20vh;
}

@media only screen and (max-width: 62.1875em) {
  .list__item {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.list__item:not(:last-child) {
  margin-bottom: 7rem;
}

.list__img-box {
  flex: 0 0 40%;
  margin-right: 8%;
  border-radius: 8px;
  transition: all 0.2s;
  overflow: hidden;
}

@media only screen and (max-width: 62.1875em) {
  .list__img-box {
    width: 70vw;
  }
}

/* @media only screen and (max-width: 73.125em) {
  .list__img-box {
    margin-right: 5%;
  }
} */

.list__img-box:hover {
  box-shadow: 10px 10px 30px 0 hsl(0deg 0% 60% / 25%);
}

.list__img-box:hover .list__img {
  transform: scale(1.15);
}

.list__img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  transform: scale(1);
  transition: all 0.4s;
}

.list__text-box {
  margin-right: 9%;
  padding-top: 5rem;
}

@media only screen and (max-width: 62.1875em) {
  .list__text-box {
    width: 65vw;
  }
}

@media only screen and (max-width: 73.125em) {
  .list__text-box {
    margin-right: 5%;
  }
}

.list__text-box p {
  width: 90%;
  margin-bottom: 2rem;
}

.list__link {
  text-decoration: none;
  text-transform: uppercase;
  /* font-family: var(--font-heading); */
  color: var(--color-heading);
  font-weight: 400;
  font-size: 1.8rem;
}

/* Footer */
.footer {
  display: flex;
  padding: 0 20vh;
  margin-bottom: 10rem;
  align-items: center;
}

.footer__text-box {
  margin-right: auto;
}

.footer__text-box span {
  font-weight: 500;
}

.footer__list {
  display: flex;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 3rem;
}

.footer__link {
  text-decoration: none;
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 500;
  font-size: 2.2rem;
}

.footer__img {
  height: 10rem;
}

/* .footer__link-arr {
  display: block;
  height: 100%;
} */
/* @media only screen and (max-width: 73.125em) { */
@media only screen and (max-width: 73.125em) {
  .content,
  .list__item,
  .footer {
    padding: 0 10vw;
  }
}
